<div class="login-div">
    <h2>Log In Your Account</h2>

    <form class="login-form" [formGroup]="loginGroup" (ngSubmit)="login()">
        <div class="input-class">
            <label style="font-weight: bolder;">Email</label>
            <input placeholder="Email" formControlName="email" />
        </div>
        <div class="input-class">
            <label style="font-weight: bolder;">Password</label>
            <input placeholder="Password" formControlName="password" type="password" />
        </div>

        <button class="login-btn" (click)="login()">Log In</button>
    </form>

    <div style="display: flex;">
        <p>Don't Have An Account?</p> <a style="all: unset; font-weight: bold; margin-left: 4px; cursor: pointer;">Sign
            Up</a>
    </div>
</div>