.product-image {
    background-color: white;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    img {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
}

ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
    .product-title {
        display: -webkit-box;
        margin-top: 6px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .price {
        color: green;
    }
}

@media only screen and (max-width: 599px){
    .product-image{
        width: 100%;
    }
}