<div class="product-image" (click)="goToProductPage()">
    <img draggable="false" [src]="product?.productImageUrlOne" />
</div>
<ul (click)="goToProductPage()">
    <li>
        <p class="product-title">{{ product?.productTitle }}</p>
    </li>

    <li style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 16px;">
        <p style="text-align: center;" class="price">{{ product?.productPrice | currency }}</p>
        <mat-icon fontIcon="arrow_forward" style="color: #1E1E1E; background-color: darkgray; border-radius: 999px;"></mat-icon>
    </li>

</ul>