@use '../base' as base;

mat-toolbar {
    --mat-toolbar-standard-height: 120px;
    --mat-toolbar-container-background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: base.$padding;
    padding-right: base.$padding;

    div {
        .menu-a {
            display: none;
        }

        .logo-div {
            height: 100px;
            width: 100px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            .logo-img {
                height: 90%;
                width: 90%;
                object-fit: contain;
            }
        }
    }

    .search-div {
        display: flex;
        justify-content: center;
        align-items: center;

        &>input {
            height: 32px;
            width: 18rem;
            outline: none;
            border: 0.1px solid lightgray;
            border-top-left-radius: 999px;
            border-bottom-left-radius: 999px;
            border-right-width: 0;
            padding-left: 1rem;
        }

        .search-icon-div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFD701;
            height: 32px;
            width: 56px;
            border: 0.1px solid lightgray;
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
            border-left-width: 0;
        }
    }

    .options-div {
        display: flex;

        &>div {
            height: 40px;
            width: 40px;
            margin: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.1px solid gray;
            border-radius: 999px;
            overflow: hidden;

            mat-icon {
                font-size: 24px;
            }
        }
    }
}



@media (max-width: 500px) {
    header {
        mat-toolbar {
            display: flex;
            width: 100%;

            justify-content: space-between;
            padding-left: base.$mobile_padding;
            padding-right: base.$mobile_padding;

            div {
                .menu-a{
                    display: inherit;
                }
                .logo-div {
                    height: 50px;
                    width: 50px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .logo-img {
                        height: 90%;
                        width: 90%;
                        object-fit: contain;
                    }
                }
            }

            .search-div {
                display: none;
                justify-content: center;
                align-items: center;

                &>input {
                    height: 32px;
                    width: 18rem;
                    outline: none;
                    border: 0.1px solid lightgray;
                    border-top-left-radius: 999px;
                    border-bottom-left-radius: 999px;
                    border-right-width: 0;
                    padding-left: 1rem;
                }

                .search-icon-div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FFD701;
                    height: 32px;
                    width: 56px;
                    border: 0.1px solid lightgray;
                    border-top-right-radius: 999px;
                    border-bottom-right-radius: 999px;
                    border-left-width: 0;
                }
            }

            .options-div {
                display: flex;

                &>div {
                    height: 40px;
                    width: 40px;
                    margin: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 0.1px solid gray;
                    border-radius: 999px;
                    overflow: hidden;

                    mat-icon {
                        font-size: 24px;
                    }
                }
            }
        }

        .navigator{
            position: absolute;
            height: calc(100% - 56px);
            width: 100%;
        }

        .opened-nav{
            left: 0;
        }

        .closed-nav{
            left: -100%;
        }
    }
}