<header>
    <mat-toolbar>

        <div style="display: flex; justify-content: center; align-items: center;">
            <a class="menu-a" (click)="openNavigator()"><mat-icon>menu</mat-icon></a>
            <div class="logo-div">
                <img class="logo-img" src="logo.png" />
            </div>
        </div>
        <div class="search-div">
            <input class="search-input" />
            <div class="search-icon-div">
                <mat-icon fontIcon="search"></mat-icon>
            </div>
        </div>
        <div class="options-div">
            @if(userType !== null && userType === 'owner'){
            <div style="cursor: pointer;" (click)="navigateToAddProduct()">
                <mat-icon class="material-icons-outlined" fontIcon="add"></mat-icon>
            </div>
            }
            <div style="cursor: pointer;">
                <mat-icon class="material-icons-outlined" fontIcon="shopping_cart"></mat-icon>
            </div>
            <div style="cursor: pointer;" (click)="clickRequest()">
                <mat-icon class="material-icons-outlined" fontIcon="person"></mat-icon>
            </div>
        </div>
    </mat-toolbar>
    <div class="background"></div>
    <app-navigation class="navigator"></app-navigation>

</header>
<router-outlet />
<section>
    <ul>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
        <li>Product 4</li>
        <li>Product 1</li>
        <li>Product 2</li>
        <li>Product 3</li>
    </ul>
</section>