@use '../../base' as base;

ul {
    display: flex;
    padding: 0 base.$padding 0;
    list-style-type: none;
    gap: 2%;
    li {
        flex-basis: 50%;
        width: 50%;
        overflow: hidden;
        margin-top: 16px;
    }

    .images-li {
        display: grid;
        border-radius: 8px;
        height: 70vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2%;
        div {
            width: 100%;
            height: 100%;
            background-color: white;
            padding: 8px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .first-img {
            width: 100%;
            height: 100%;
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }

    .info-li {
        .price-p {
            margin-top: 16px;
            font-weight: bold;
            color: green;
        }

        .paragraph-p {
            white-space: break-spaces;
            margin-top: 4px;
            color: gray;
        }

        button {
            width: 80%;
            background-color: base.$black;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 0;
            border: 0;
            border-radius: 999px;
            margin-top: 16px;
        }
    }
}

@media only screen and (max-width: 599px) {
    ul {
        flex-direction: column;

        li {
            width: 100%;
            overflow: hidden;
            margin-top: 16px;
        }
    }
}