<div class="settings">
    <h2>Account Details</h2>
    <form style="display:flex; flex-direction: column; margin-top: 20px;">
        <label>First Name</label>
        <input placeholder="First Name"/>

        <label>Last Name</label>
        <input placeholder="Last Name" />


        <label>Email</label>
        <input placeholder="Email" />

        <h2>Password Change</h2>

        <label>Current Password</label>
        <input />
        <label>New Password</label>
        <input />
        <label>Confirm New Password</label>
        <input />
    </form>



</div>