<header>
    <p>All Products</p>
</header>

<main class="products-panel">
    <aside>
        <div>
            <p>Categories</p>
            <ul>
                @for (item of categories; track $index) {
                <li (click)="choose($index)" [className]="$index === categoryIndex ? 'clicked': ''">{{ item }}</li>
                }
            </ul>
        </div>
    </aside>
    <section>
        <p>Products</p>
        <app-products [products]="products"></app-products>
        <mat-paginator style="background-color: white;margin-top: 16px; padding-top: 8px; padding-bottom: 8px;"
            pageSize="20" [length]="count" (page)="pageHandler($event)"></mat-paginator>

    </section>

</main>