@use '../../base' as base;

.home-div {
    padding-right: base.$padding;
    padding-left: base.$padding;
    margin-top: 16px;

    .slideshow {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 400px;
        gap: 2%;

        div {
            background-color: white;
            height: 48%;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: base.$black;
        }

        .first-image {
            height: 100%;
            flex-basis: 50%;
        }

        .half {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            height: 100%;
            gap: 5%;
            background-color: transparent;

            .second-image {
                width: 100%;

                div {
                    display: flex;
                    flex-direction: column;

                    h1 {
                        font-size: 2.5rem;
                    }

                    .off {
                        display: flex;
                        align-items: center;
                        gap: 5%;
                        color: red;
                        text-align: center;
                        font-size: 3rem;
                        font-weight: bolder;
                        display: flex;

                        span {
                            color: base.$black;
                            font-size: 2.5rem;
                        }
                    }
                }

                img {
                    padding: 24px;
                    flex-basis: 25%;
                    height: 100%;
                }
            }

            div {
                width: 100%;
            }
        }
    }

    .others {
        position: relative;
        .top-sellers-ul {
            list-style-type: none;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 25%;
            overflow: hidden;
            width: 100%;
            margin-top: 8px;
            gap: 2%;
            scroll-behavior: smooth;

            li {
                width: 100%;
            }
        }

        #left,
        #right {
            background-color: white;
            border-radius: 999px;
            box-shadow: 1px 1px 2px black;
            cursor: pointer;
            position: absolute;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #right {
            left: 100%;
            bottom: 50%;
            margin-left: 8px;
        }

        #left {
            bottom: 50%;
            right: 100%;
            margin-right: 8px;
        }
    }
}

@media only screen and (max-width: 599px) {
    .home-div {
        padding-left: base.$mobile_padding;
        padding-right: base.$mobile_padding;

        .slideshow {
            flex-direction: column;

            .first-image {
                display: none;
            }

        }

        .others {
            position: relative;

            .top-sellers-ul {
                grid-auto-columns: 45%;

                &.dargging {
                    user-select: none;
                }
            }

            #left{
                right: 90%;
            }
            #right{
                left: 90%;
            }
        }
    }
}